{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h5>Processing Status</h5>
            </div>
            <div class="card-body">
                <h6>Batch ID: {{ batch_id }}</h6>
                <p>Your PDFs are being processed in the background.</p>
                <a href="{{ url_for('main.results') }}" class="btn btn-primary">View Results</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
